*{
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
}
html,body{
	font-family: '微軟正黑體', arial;
}
.about{
    height: 500px;
	background-color: rgba(3,18,31,0.9);
	top: 0;
	left: 0;
	width: 100%;
}
h1{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar{
	height: 60px;
	background-color: rgba(243,235,195,0.8);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
a{
	text-decoration: none;
	color: #333;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	padding-right: 16px;
	padding-left: 16px;
}
.navbar .nav{
	float: right;
}
.navbar .title{
	display: inline-block;
	width: 160px;
	height: 64px;
	width: 200px;
	height: 80px;
	background-image: url('../images/common/logo.jpg');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.navbar .nav .nav-item{
	float: left;
}
.navbar .nav .nav-link{
	color: #fefefe;
	line-height: 60px;
	padding: 0px 30px;
}
.graphic-design{
    height: 500px;
	background-color: rgba(232,181,27,0.26);
	top: 0;
	left: 0;
	width: 100%;
}
.photography{
    height: 500px;
	background-color: rgba(3,18,31,0.9);
	top: 0;
	left: 0;
	width: 100%;
}
.product-design{
    height: 500px;
	background-color: rgba(232,181,27,0.26);
	top: 0;
	left: 0;
	width: 100%;
}
.contact{
	height: 500px;
	background-color: rgba(3,18,31,0.9);
	top: 0;
	left: 0;
	width: 100%;
}
.column {
  top: 0;
  left: 0;
  padding: 0px;
  width: 60%;
  height: 500px;
  overflow: hidden;
}